extends template

block container
    p Hello

    div(class="row")
        div(class="col")
            h3 Hello
        div(class="col")
            h3 Getting Started

            p Login with Twitch to continue
            p
                a(href="/login/twitch/") Login
