extends template

block container
    h2 BarryCarlyon's Super Simple Discord Notifications Platform
    div(class="row")
        div(class="col")
            p This Website provides Super Simple and Quick Discord Notifications for your Stream going live.

            p We limit you to only Notifying One Discord for the Twitch ID you log in as. Mostly for Service health and efficent use of the Twitch API.

            p This is an Open Source project, covered under the <a href="http://www.wtfpl.net/" target="wtfpl">WTFPL Licence</a> (aka Do What the F**k You want), you can review the source code at <a href="https://github.com/BarryCarlyon/twitch_discord_barrycarlyon_co_uk" target="_blank">GitHub</a>

            h4 But What does it look like?

            p Well heres an example:

            img(src="/example.png" title="An Example Discord Go Live Notification!" alt="An Example Discord Go Live Notification" class="img-fluid")

            h4  Coming soon:

            ul
                li <strike>more</strike> any customisation options
                li things you can pay for (since running services like this are not free)

            p If you wish to contribute to running costs, you can review "Funding Options" (Sponsor this project) at <a href="https://github.com/BarryCarlyon/twitch_discord_barrycarlyon_co_uk" target="_blank">GitHub</a>.

            p Or the following links
            ul
                li
                    a(href="https://github.com/sponsors/BarryCarlyon" target="github_sponsor") GitHub Sponsor
                li
                    a(href="https://ko-fi.com/barrycarlyon" target="kofi") Buy my a Ko-Fi
                li
                    a(href="https://paypal.me/BCarlyon" target="paypal") PayPal.me
        div(class="col")
            h3 Getting Started

            p Login with Twitch to continue
            p
                a(href="/login/twitch/") Login with Twitch

            h3 Privacy Policy

            p Under GDPR and other <i>fun</i> privacy laws, you should review the <a href="/privacy">Privacy Policy</a> before using this service.

            p <strong>If you Login with Twitch</strong> that will constitute you agreeing to this Privacy Policy.

            h3 Please I need some help

            p Either find me
            ul
                li Discord BarryCarlyon#1698
                li
                    a(href="https://twitter.com/barrycarlyon" target="twitter") @BarryCarlyon on Twitter
                li
                    a(href="https://barrycarlyon.co.uk/wordpress/contact/" target="contact") Drop me an Email
