doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/theme/bootstrap.css" rel="stylesheet")
        link(href="/theme/style.css" rel="stylesheet")
        block header_scripts
        block title
            title Barry's Twitch to Discord Notifications

        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
    body
        block body
            div(class="container-fluid")
                block errors
                    if error
                        div(class="bg-danger")
                            p #{error}
                    if success
                        div(class="bg-success")
                            p #{success}
                block container
        block footer
            if debug_session
                pre(id="debuggery") #{debug_session}
            footer Barry's Twitch to Discord Notifications
        block footer_scripts
            script(type="text/javascript" src="/theme/bootstrap.bundle.min.js")
