doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/theme/bootstrap.css" rel="stylesheet")
        link(href="/theme/style.css" rel="stylesheet")
        block header_scripts
        block title
            title BarryCarlyon's Super Simple Discord Notifications Platform

        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")

        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="?")
        meta(property="og:title" content="BarryCarlyon's Super Simple Discord Notifications Platforms")
        meta(property="og:description" content="A simple tool to allow Twitch Streamers to notify their Discords when they go live on Twitch!")
        meta(property="og:url" content="https://twitch.discord.barrycarlyon.co.uk/")
        meta(property="og:image" content="https://twitch.discord.barrycarlyon.co.uk/logo.png")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content="BarryCarlyon's Super Simple Discord Notifications Platforms")
        meta(name="twitter:description" content="A simple tool to allow Twitch Streamers to notify their Discords when they go live on Twitch!")
        meta(name="twitter:url" content="https://twitch.discord.barrycarlyon.co.uk/")
        meta(name="twitter:image" content="https://twitch.discord.barrycarlyon.co.uk/logo.png")
    body
        block body
            div(class="container-fluid")
                block errors
                    if error
                        div(class="aprompt bg-danger")
                            p #{error}
                    if success
                        div(class="aprompt bg-success")
                            p #{success}
                block container
        block footer
            if debug_session
                pre(id="debuggery") #{debug_session}
            footer BarryCarlyon's Super Simple Discord Notifications Platforms - <a href="https://twitter.com/barrycarlyon">@BarryCarlyon</a>
        block footer_scripts
            script(type="text/javascript" src="/theme/bootstrap.bundle.min.js")
