body {
    margin-bottom: 120px;
}

footer {
    background: #111111;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 2px solid #DDDDDD;
    line-height: 40px;
    text-align: center;
}

#debuggery {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height: 200px;
    background: #525c67;
    z-index: 9001;
}

.aprompt {
    padding: 5px;
}
.widget {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
}
